.footer {
    height: 500px;
    width: 100%;
}

.newsLetter {
    height: 100px;
    width: 100%;
    color: white;
    background-color: #4A3BD4;
    display: flex;
    justify-content: center;
    align-items: center;
}