.title__service__description {
    @extend %titles;
}

.container__service__description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
}

.card__service__description {
    text-align: center;
    border-radius: 10px;
    border-color: $primary-color;
    margin: auto;
    width: 500px;
}

#icon-services-description {
    font-size: 38px;
    margin: 20px;
    color: $primary-color;
}

.card__service__title__description {
    font-size: 32px;
    font-family: $font-principal;
    color: $primary-color;
    font-weight: bold;
}

.card__service__subtitle_description {
    font-family: $font-secondary;
    font-size: 18px;
    margin: 16px;
}