.container__card__services__pricing {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 15px;
}


.card__services__pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    width: 300px;
    height: 280px;
    gap: 20px;
    background-color: $primary-color;
    color: white;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

#icon-services-pricing {
    font-size: 42px;
}

.card__title__pricing {
    font-family: $font-principal;
    font-size: 24px;
    text-align: center;
}

.card__button__pricing {
    background-color: white;
    border-radius: 10px;
    font-size: 18px;
    font-family: $font-secondary;
    color: $primary-color;
    font-weight: bold;
    width: 50%;

    &:hover {
        color: white;
        background-color: #a686ff;
    }

}