.navbar {
    display: flex;
    background-color: white;
    justify-content: space-between;
    position: fixed;
    z-index: 50;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    top: 0;
}


.logo {
    max-height: 50px;
    /* Ajusta este valor al tamaño deseado */
    height: auto;
    width: auto;
    /* Esto mantendrá la proporción */
}