.navbar {
    display: flex;
    background-color: white;
    justify-content: space-between;
    position: fixed;
    height: 60px;
    width: 100vw;
    z-index: 50;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-collapse {
    display: flex;
    justify-content: end;
}

.container-fluid {
    align-items: flex-start;
}

.logo {
    width: 150px;
}