.titlePlanes {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 100px;
    font-family: 'League Spartan', sans-serif;
    color: #7869FF;
    font-weight: 600;
    font-size: 68px;
}

.textDesarrollo {
    color: #7869FF;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 50px;
}

.textPublicidad {
    color: #7869FF;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 50px;
}

.containerPlanes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.textDesarrollo {
    font-family: 'League Spartan', sans-serif;
    text-align: center;
    font-size: 36px;

}

.textPublicidad {
    font-family: 'League Spartan', sans-serif;
    font-size: 36px;
    text-align: center;
    margin-top: 100px;
}


.card-title {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: 'League Spartan', sans-serif;
    font-size: 32px;
}

.planes {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #6d5efc;
    color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 400px;
    height: 400px;
}

.iconPlanes {
    font-size: 60px;
}

.buttonPlanes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    background-color: white;

    border-radius: 15px;
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: #7869FF;
    margin-top: 20px;

    &:hover {
        background-color: rgb(58, 58, 58);
        color: white;
    }
}