.containerHero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
}

.containerHeroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroPrincipal {
    margin-top: 70px;
}

.titleHero {
    font-family: 'League Spartan', sans-serif;
    color: #7869FF;
    font-weight: 600;
    font-size: 58px;
    margin-top: 100px;
    width: 750px;
    text-transform: uppercase;
}

.parrafoHero {
    width: 60%;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: black;
    width: 750px;
}

.buttonHero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    background: #6456e4;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    color: white;
    margin-top: 20px;

    &:hover {
        background: #7e70fa;
        color: white;
    }
}

.containerIntroServices {
    margin-top: 220px;
    display: flex;
    justify-content: center;
    gap: 50px;
}