.containerHero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: stretch;
}

.containerHeroText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroPrincipal {
    margin-top: 70px;
}

.titleHero {
    font-family: 'Raleway', sans-serif;
    color: #223B7C;
    font-weight: 600;
    font-size: 58px;
    margin-top: 100px;
    width: 700px;
}

.parrafoHero {
    width: 60%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #5F5F5F;
    margin-top: 10px;
    width: 700px;
}

.buttonHero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    background-color: #4A3BD4;
    border-radius: 15px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-top: 20px;

    &:hover {
        background-color: #6e5ff1;
        color: white;
    }
}

.containerIntroServices {
    margin-top: 220px;
    display: flex;
    justify-content: center;
    gap: 50px;
}