@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Ubuntu&display=swap');

@import './layout/hero';
@import './components/footer';
@import './components/form';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}