@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Ubuntu&display=swap');

// Variables and Extends
@import './abstracts/variables';
@import './abstracts/extend';
// Components Importants
@import './components/navbar';
@import './components/form';
@import './components/footer';
// Layout Website
@import './layout/hero';
@import './layout/about';
@import './layout/servicesDescription';
@import './layout/servicesPricing';
@import './layout/_portfolio';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Medias Querys
@import './bases/mediasQuerysLaptop.scss';
@import './bases/mediasQuerysTablet.scss';
@import './bases/mediasQuerysMobile.scss';