@media screen and (max-width:568px) {

    .containerHero {
        grid-template-columns: 1fr;
    }

    .heroPrincipal {
        position: absolute;
    }

    .buttonHero {
        margin-top: 20px;
    }

    .containerHeroText {
        z-index: 1;
    }



    .titleHero {
        margin-top: 120px;
        text-align: center;
        background-color: rgb(255, 255, 255, 0.90);
        border-radius: 10px;
    }

    .parrafoHero {
        margin-top: 0px;
        background-color: rgb(255, 255, 255, 0.90);
        border-radius: 10px;
        text-align: center;
    }

    .titleServices {
        margin-top: 100px;
    }

    .containerServices {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .services {
        text-align: center;
    }

    .icono {
        margin-top: 50px;
    }

    .containerAbout {
        display: flex;
        flex-direction: column;
    }

    .parrafoAbout {
        width: 80%;
    }

    .textDesarrollo {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .containerPlanes {
        display: grid;
        grid-template-rows: 1fr;
    }

    .planes {
        width: 200px;
        height: 200px;
    }


    .checkList {
        padding-left: 0.5rem;
    }

    .carousel-control-next {
        width: 25%;
    }

    .carousel-control-prev {
        width: 25%;
    }

    .content {
        margin-top: 50px;
        width: 80vw;
    }

    // .contact-form form p {
    //     padding: 0.5em;
    // }

    .contact-wrapper>* {
        padding: 5px;
    }

    .containerInput {
        justify-content: center;
        margin-top: 10px;
    }

    .buttonEnviar {
        height: 35px;
    }

    .formNewsLetter {
        flex-direction: column;
    }

    .logoFooter {
        width: 120px;
    }

    .footer-item {
        font-size: 14px;
    }

    .textCopyright {
        font-size: 14px;
    }

    .ol .ul {
        padding-left: 1rem;
    }
}