@media screen and (max-width:568px) {

    .containerHero {
        grid-template-columns: 2fr 0fr;
    }

    .heroPrincipal {
        display: none;
    }

    .containerHeroText {
        z-index: 1;
    }

    .containerServices {
        display: flex;
        flex-direction: column;
    }

    .titleHero {
        margin-top: 150px;
        text-align: center;
    }

    .parrafoHero {
        margin-top: 0px;
    }

    .services {
        text-align: center;
    }

    .iconImage {
        margin: auto;
    }

    .containerAbout {
        display: flex;
        flex-direction: column;
    }

    .containerPlanes {
        display: grid;
        grid-template-rows: 1fr;
    }

    .checkList {
        padding-left: 0.5rem;
    }

    .carousel-control-next {
        width: 25%;
    }

    .carousel-control-prev {
        width: 25%;
    }

    .contact-wrapper>* {
        padding: 0px;
    }

    .containerInput {
        justify-content: center;
        margin-top: 10px;
    }

    .buttonEnviar {
        height: 35px;
    }

    .formNewsLetter {
        flex-direction: column;
    }

    .logoFooter {
        width: 120px;
    }

    .footer-item {
        font-size: 14px;
    }

    .textCopyright {
        font-size: 14px;
    }

    .ol .ul {
        padding-left: 1rem;
    }
}

@media screen {}