@media screen and (max-width: 1520px) {
    .nav-link {
        font-size: 18px;
    }

    .navbar {
        height: 70px;
    }

    .heroPrincipal {
        margin-top: 70px;
        width: 100%;
    }

    .titleHero {
        font-size: 48px;
        margin-left: 70px;
        margin-top: 200px;
    }

    .parrafoHero {
        font-size: 18px;
        width: 70%;
    }
}