@media (min-width:1024px) {

    .hero__content {
        width: 70%;
    }

    .hero__text {
        font-size: 26px;
    }

    .hero__description {
        font-size: 18px;
    }

    .hero__button {
        height: 45px;
        border-radius: 10px;
    }


    // Services description

    .title__service__description {
        margin-bottom: 50px;
        font-size: 52px;
    }

    .container__service__description {
        width: 90%;
    }

    .card__service__title__description {
        font-size: 26px;
    }

    .card__service__subtitle_description {
        font-size: 16px;
    }

    // Services Pricing

    .title__services__pricing {
        font-size: 52px;
        margin-bottom: 30px;
    }

    .card__services__pricing {
        width: 350px;
        height: 300px;
    }

    #icon-services-pricing {
        font-size: 36px;
    }

    .card__title__pricing {
        font-size: 26px;
    }

    .card__button__pricing {
        font-size: 20px;
    }

    // Portfolio

    .title__portfolio {
        font-size: 52px;
        margin-bottom: 50px;
    }

    .container-text-projects {
        width: 40%;
    }

    // About

    .container__about {
        margin: 100px;
    }

    .container__items__about {
        width: 80%;
    }

    .paragraph__about {
        font-size: 16px;
    }

    // Form

    .content__form {
        width: 60%;
    }

    // Footer 

    .formNewsLetter {
        padding: 1.5em;
    }
}